.product-admin {
    max-width: 98%;
    margin: 0 auto;
}

.product-admin th {
    width: 20%;
}

.product-admin tr {
    border-bottom-width: 1px;
}

.product-admin td {
    flex: 0 0 calc(100% / 7);
    overflow: hidden;
    max-width: 20%;
    border: none;
}

.product-admin p {
    padding: 8px 0;
    margin: 0;
}

.table img {
    max-width: 70px;
    /* min-width: 80px; */
    max-height: 70px;
    /* margin: 0px auto; */
}

table thead tr {
    background-color: #E8EAF6;
}

table {
    margin-bottom: 0 !important;
}

// table tbody tr:hover {
//     background-color: #E8EAF6;
//     transition: all .1s ease;
//     box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
// }

.table button {
    margin: 0px 4px;
}

.toggle-button {
    background-color: #e6e6e6;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    height: 20px;
    outline: none;
    padding: 0;
    position: relative;
    width: 40px;
  }
  
  .toggle-button__text {
    color: #666;
    font-size: 14px;
    font-weight: bold;
    left: 50%;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  
  .toggle-button__slider {
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    height: 18px;
    left: 1px;
    position: absolute;
    transition: all 0.3s ease-in-out;
    width: 18px;
  }
  
  .toggle-button.active .toggle-button__slider {
    left: 21px;
  }