.row-product-admin {
    input[type='file']{
        max-height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        cursor: pointer;
    }
    tr {
        border-top: 1px solid #ccc;
        td {
            border: none;
        }
    }
}